{% extends 'base.html' %}

{% block content %}

<div class="mt-5 d-flex justify-content-center" style="background-color:transparent;">

    <div class="card shadow-lg" style="background-color:transparent;">
        <div class="card-body p-4">
            <h2 class="text-white text-center mb-4 bold">Login</h2>

            {% if form.non_field_errors %}
                <small class="text-danger">
                    Incorrect Username or Password
                </small>
                {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="form-group mb-3 text-white">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}"
                        class="form-control" value="{{ form.username.value }}">
                    {% for error in form.username.errors %}
                    <span class="text-danger small">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group mb-3 text-white">
                    <label for="{{ form.password.id_for_label }}">Password:</label>
                    <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}"
                        class="form-control" value="{{ form.password.value }}">
                    {% for error in form.password.errors %}
                    <span class="text-danger small">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-dark btn-block">Login</button>
                </div>

                <div class="text-center">
                    <a href="{% url 'register' %}" class="btn btn-link text-white">Create a new account</a>
                </div>
            </form>
        </div>
    </div>


    {% endblock %}